body {
    background-image: url("loterij.png");
    background-size: cover;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.parent {
    margin: 0 auto;
    padding: 30px 220px 30px 220px;
}

.parent h1 {
    color: white;
    text-align: center;
}

.parent .undertitle {
    color: rgb(75, 234, 144);
    background-color: black;
    text-align: center;
}

.child {
    background-image: url("../seamless-space.jpg");
    background-repeat: repeat;
    border-radius: 3px;
    padding: 20px 100px 20px 100px;
    box-shadow: 0px 10px rgba(0, 0, 0, 0.13);
}

.quizcontainer {
    background-color: rgba(255, 255, 255, 0.941);
    border-radius: 3px;
    box-shadow: 0px 10px rgba(0, 0, 0, 0.292);
    margin: 0 auto;
    padding: 15px 100px 15px 0px;
}

.quizcontainer input[type=submit] {
    background-color: rgb(84, 84, 248);
    font-size: 17px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.084);
    font-weight: 1000;
    color: white;
    padding: 8px 12px 8px 12px;
    margin: 10px 40px 10px 40px;
    width: 350px;
    border-radius: 10px;
    border: 0px solid white;
    cursor: pointer;

}

.quizcontainer h2 {
    font-size: 22px;
    padding: 0px 0px 10px 0px;
    border-bottom: 3px dotted rgba(0, 0, 0, 0.788);
    font-style: italic;

}

.quizcontainer ul li{
    list-style: none;
    font-size: 15px;
    font-weight: 100;
    color: #0060df;

}