body {
    background-image: url(assets/loterij.png);
    background-repeat: no-repeat;
    background-size: cover;
    animation: pop-up 3s;
    font-family: sans-serif;

    
}
@keyframes pop-up {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes animatie {
    0% {transform: translateY(0%)}
    100% {transform: translateY(20%)}
}

button {background-color: white;
    border: hidden;
    border-radius: 13px;
    width: 140px;
    height: 100px;
    font-family:cursive !important;
    
}

button:hover {
    opacity: 0.8;
    animation: animatie 1.5s forwards;
}

h1 {color: blue;}
.div1 {
    margin: 0 auto;
    width: 15%;
    margin-top: 15px;
    text-align: center;     
    
}
.div2 {
    background-color: black;
    margin: 0 auto;
    width: 25%;
    margin-top: 10%;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 8px;
}
.div3 a {
color:white;
float: right;
margin-top: -10%;
text-decoration: none;
}
.div4 a {
color:white;
float: right;
margin-top: -7%;
text-decoration: none;
}
.div5 a {
color:white;
float: right;
margin-top: -4%;
text-decoration: none;
}
a {
    color: white;
    text-decoration: none;
}
.div3 a :hover {
    opacity: 0.8;
}
.div4 a :hover {
    opacity: 0.8;
}
.div5 {
    margin: 0 auto;
    margin-top: 35px;
    text-align: center;     
    
}


input {
width: 400px;
height: 40px;


}

form {
text-align: center;

}

input[type=submit] {
background-color: blue;
border-radius: 6px;
color: white;
}
